{% extends 'layouts/base.html' %}
{% block content %}

<div class="container py-4">

    <div class="card shadow-sm">

        <div class="card-header bg-success text-white">
            Advance Payment
        </div>

        <div class="card-body">

            <h5>
                {{ vehicle.vehicle_number }}
            </h5>

            <p>
                Remaining Balance :
                ₹ {{ vehicle.remaining_balance_amount }}
            </p>

            <form method="post">
                {% csrf_token %}

                <label>
                    Amount
                </label>

                <input type="number" step="0.01" name="amount" class="form-control" required>

                <button class="btn btn-success mt-3">
                    Pay To Account
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}