{% extends 'layouts/base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card">

        <div class="card-header bg-success text-white">
            Advance Payment
        </div>

        <div class="card-body">

            <h6>
                Vehicle : {{ vehicle.vehicle_number }}
            </h6>

            <form method="post">

                {% csrf_token %}

                <div class="mb-3">
                    <label>Amount</label>
                    <input type="number"
                           step="0.01"
                           name="amount"
                           class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label>Payment Mode</label>

                    <select name="payment_mode"
                            class="form-select">

                        <option value="upi">UPI</option>
                        <option value="bank">Bank</option>
                        <option value="cash">Cash</option>

                    </select>
                </div>

                <div class="mb-3">
                    <label>Transaction Number</label>

                    <input type="text"
                           name="transaction_no"
                           class="form-control">
                </div>

                <div class="mb-3">
                    <label>Remarks</label>

                    <textarea name="remarks"
                              class="form-control"></textarea>
                </div>

                <button type="submit"
                        class="btn btn-success">

                    Save Advance
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}