{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/common/css/common.css' %}">
<div class="container-fluid">
    {% if messages %}
    <div class="mb-2">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- HEADER -->
    <div class="page-header">
        <h4>👤 Customer Master</h4>
        <small>Create and manage customer information</small>
    </div>
    <form method="POST">
        {% csrf_token %}

        <div class="row">

            <!-- LEFT -->
            <div class="col-lg-8">

                <div class="card section-card">

                    <div class="section-title">
                        Customer Information
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4">
                                <label class="form-label">Customer Code</label>
                                <input type="text" class="form-control readonly-box" value="{{ next_customer_code }}"
                                    readonly>
                            </div>

                            <div class="col-md-8">
                                <label class="form-label">Customer Name *</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Mobile Number 1 *</label>
                                <input type="tel" name="phone1" class="form-control" maxlength="10" pattern="[0-9]{10}" 
                                inputmode="numeric" required>
                                <small class="text-muted">Enter 10 digit mobile number</small>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Mobile Number 2</label>
                                <input type="tel" name="phone2" class="form-control" maxlength="10" pattern="[0-9]{10}" inputmode="numeric">
                                <small class="text-muted">Enter 10 digit mobile number</small>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">PAN Number</label>
                                <input type="text" name="pan_number" class="form-control" maxlength="10"
                                    style="text-transform: uppercase;" pattern="[A-Z]{5}[
                                    0-9]{4}[A-Z]{1}"
                                    title="[A-Z]{5}[0-9]{4}[A-Z]{1}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">GST Number</label>
                                <input type="text" name="gst_number" class="form-control">
                            </div>

                            <div class="col-md-3">
                                <label class="form-label">State *</label>
                                <input type="text" name="state" class="form-control" required>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label">State Code *</label>
                                <input type="text" name="state_code" class="form-control" required>
                            </div>

                            <div class="col-12">
                                <label class="form-label">Address *</label>
                                <textarea name="address" rows="2" class="form-control" required></textarea>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">City *</label>
                                <input type="text" name="city" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Pincode *</label>
                                <input type="text" name="pincode" maxlength="6" class="form-control" required>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Status *</label>

                                <select name="is_active" class="form-select" required>

                                    <option value="True">
                                        ACTIVE
                                    </option>

                                    <option value="False">
                                        INACTIVE
                                    </option>

                                </select>
                            </div>

                            <div class="col-md-4 ms-auto d-flex align-items-end">
                                <button type="submit" class="btn btn-success w-100 btn-save">
                                    💾 Save Customer
                                </button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- RIGHT -->

            <div class="col-lg-4">

                <div class="card section-card">

                    <div class="section-title">
                        System Information
                    </div>

                    <div class="card-body">

                        <label class="form-label">
                            Created By
                        </label>

                        <div class="user-box">
                            {{ request.user.username }}
                        </div>

                        <hr class="my-2">

                        <small class="text-muted">
                            Customer code will be generated automatically after saving.
                        </small>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        document
            .querySelectorAll('input[type="text"], textarea')
            .forEach(function (input) {

                input.addEventListener("input", function () {

                    this.value =
                        this.value.toUpperCase();

                });

            });

    });
</script>
<script>
    document.querySelector('input[name="pan_number"]').addEventListener('input', function () {
        this.value = this.value.toUpperCase();
    });
</script>
{% endblock %}