{% extends 'layouts/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/common/css/common.css' %}">

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="page-header">
            <h4><i class="bi bi-geo-alt-fill"></i> Location History</h4>
            <small class="text-muted">View the location history of the selected vehicle</small>
        </div>

        <div class="card-body">
             <table class="table table-hover align-middle">
                <thead class="custom-table-head">
                    <tr class="main-head-row">

                        <th>Date</th>

                        <th>Location</th>

                        <th>Latitude</th>

                        <th>Longitude</th>

                        <th>Accuracy</th>

                    </tr>

                </thead>

                <tbody>

                    {% for location in locations %}

                    <tr>

                        <td>{{ location.received_at }}</td>

                        <td>{{ location.location_name }}</td>

                        <td>{{ location.latitude }}</td>

                        <td>{{ location.longitude }}</td>

                        <td>{{ location.accuracy }} m</td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="5" class="text-center">

                            No location history found.

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}