{% extends 'layouts/base.html' %}
{% block title %}Live Tracking{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/common/css/common.css' %}">

{% block content %}

<div class="container mt-4">

    <div class="row">

        <div class="col-lg-12">

            <div class="card shadow-sm">

                <div class="page-header">
                    <h4>vehicle Details</h4>
                    <small class="text-muted">Details of the vehicle being tracked</small>
                </div>

                <div class="card-body">

                    <p><b>FTL No</b><br>{{ session.vehicle.ftl_no }}</p>

                    <p><b>Vehicle</b><br>{{ session.vehicle.vehicle_number }}</p>

                    <p><b>Driver</b><br>{{ session.driver_mobile }}</p>

                    <p>

                        <b>Status</b><br>

                        <span class="badge bg-success">

                            {{ session.status }}

                        </span>

                    </p>

                    <p>

                        <b>Current Location</b>

                        <br>

                        {{ session.last_location }}

                    </p>

                    <p>

                        <b>Latitude</b>

                        <br>

                        {{ session.last_latitude }}

                    </p>

                    <p>

                        <b>Longitude</b>

                        <br>

                        {{ session.last_longitude }}

                    </p>

                </div>

            </div>

        </div>

        <div class="col-lg-8">

            <div class="card shadow-sm">

                <div class="card-header">

                    Live Map
                    <a href="{% url 'refresh_location' session.id %}" class="btn btn-success">

                        <i class="bi bi-arrow-clockwise"></i>

                        Refresh Location

                    </a>

                </div>

                <div class="card-body">

                    <div id="map" style="height:500px;">

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}